@use "../../assets/styles/mixins.scss";

.header {
    &__container {
        @include mixins.container;
        display: flex;
        justify-content: space-between;
        gap: 297px;
        padding: 30px 70px;
        border: 1px solid #d9d9d9;
    }
    &__links {
        display: flex;
        gap: 20px;
    }
    &__link-item {
        font-size: 18px;
        color: #444444;
    }
}
